## Repo Admins
.github/CODEOWNERS  @digital-asset/sdk-tools-admin
**/.gitignore       @digital-asset/sdk-tools-admin

## CI/CD
.github/**          @digital-asset/sdk-tools-admin
.scaffold/**        @digital-asset/sdk-tools-admin

## Direnv and Nix
.envrc              @digital-asset/sdk-tools-admin
flake.nix           @digital-asset/sdk-tools-admin
flake.lock          @digital-asset/sdk-tools-admin
nix/**              @digital-asset/sdk-tools-admin

## Build Files
**/Makefile         @digital-asset/sdk-tools-admin
**/build.sc         @digital-asset/sdk-tools-admin
apps/mill-build/**  @digital-asset/sdk-tools-admin
