if has nix; then
  watch_dir nix
  use flake

else
    (
        echo
        echo 'NOTE: This project uses `nix` for its development environment.'
        echo
        echo '      To use it, install it from here: https://nixos.org/download.html#download-nix'
        echo '      and make sure that `nix` is on your `$PATH`.'
        echo
    ) >&2
fi
# ensure pre-commit hooks are always installed:
if has pre-commit; then
  PRE_COMMIT_HOOK_TYPE=pre-commit

  # always start from a clean slate to ensure that the install phase produces the scenario described by `NO_PRE_COMMIT` and `PRE_COMMIT_HOOK_TYPE`
  # this is a bit unfortunate but it doesn't look like pre-commit currently supports uninstalling all hooks in one go as of version 2.20.0
  HOOK_TYPES=(pre-commit pre-merge-commit pre-push prepare-commit-msg commit-msg post-checkout post-commit post-merge post-rewrite)
  for HOOK_TYPE in ${HOOK_TYPES[@]}; do pre-commit uninstall -t "$HOOK_TYPE"; done

  # if we have a pre-commit config, we'll attempt to install it:
  if [[ -f .pre-commit-config.yaml ]]; then
    # install pre-commit hook (opt-out by setting `NO_PRE_COMMIT`, set the hook type with `PRE_COMMIT_HOOK_TYPE` -- defaults to 'pre-push')
    if [[ -z "${NO_PRE_COMMIT:-}" ]]; then
        pre-commit install -t "$PRE_COMMIT_HOOK_TYPE"
    fi
  fi
fi


# bring in project specific env if it exists:
source_env_if_exists .envrc.project
# bring in user specific env if it exists:
source_env_if_exists .envrc.private